@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-dark text-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #FF8C42;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF7A2E;
}